@charset "UTF-8";

html,body{
   height:100%;
}

#container{
   min-height:100%;
}

#icon {
   padding: 10%;
}

.qdname {
   padding-top: 40px;
   padding-bottom: 40px;
   padding-right: 40px;
   padding-left: 40px;
   text-align: center;
}

#log {
   font-size: 20px;
}

#parent {
   position: absolute;
   top: 210px;
}

#D001 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 26%;
}

#D002 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 33%;
}

#D003 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 40%;
}

#D004 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 47%;
}

#D005 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 54%;
}

#D006 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 61%;
}

#D007 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 23%;
   left: 68%;
}

#D008 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 26%;
}

#D009 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 33%;
}

#D010 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 40%;
}

#D011 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 47%;
}

#D012 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 54%;
}

#D013 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 61%;
}

#D014 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 37%;
   left: 68%;
}

#D016 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 26%;
}

#D017 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 33%;
}

#D018 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 40%;
}

#D019 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 47%;
}

#D020 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 54%;
}

#D022 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 61%;
}

#D023 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 51%;
   left: 68%;
}

#D024 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 65%;
   left: 26%;
}

#D026 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 65%;
   left: 33%;
}

#D034 {
   width: 5%;
   height: auto;
   border: 1px solid #5A5A5A;
   position: absolute;
   top: 65%;
   left: 40%;
   display: block;
}

form {
   position: absolute;
   top: 13%;
   left:35%;
}

#f_col{
   position: absolute;
   top:31%;
}